{% extends "_dashboard.html" %}
{% set active_page = "member_telemetry" %}
{% block title %} My Telemetry {% endblock %}

{% block content %}

{% if files %}
<div class="mb-4 w-100 p-3">


    {% set page_dest = 'member.telemetry' %}
    {% set page_kwargs = {} %}

    {% include 'templates/telem/filter.html' %}

    {% include 'templates/telem/pagination.html' %}

    <div class="table-responsive">
    <table class="table smalltb table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Track</th>
            <th scope="col">Car</th>
            <th scope="col">Fastest Lap</th>
            <th scope="col">Views</th>
            <th scope="col">Uploaded on</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for file in files.items %}
        <tr id="{{ file.id }}">

            <td>
                <a class="btn btn-danger btn-sm mx-1" href="{{ url_for('main.download_telem', id=file.id) }}" role="button">DOWNLOAD</a>
                <a class="btn btn-primary btn-sm mx-1" href="{{ url_for('main.telemetry_show', id=file.id) }}" role="button">OPEN</a>
                <button class="compareTelem btn btn-info btn-sm mx-1" type="button" data-fid="{{ file.id }}">
                    COMPARE
                </button>

            </td>
            <td>{{ file.track.internal_name }}</td>
            <td>{{ file.car.internal_name }}</td>
            <td>{{ file.get_fastest_lap() }}</td>
            <td>{{ file.views }}</td>
            <td>{{ file.get_upload_date() }}</td>
            <td>
                <button type="button" class="deleteTelem btn btn-danger btn-sm">
                    DELETE
                </button>

            </td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% include 'templates/telem/pagination.html' %}

    <p class="text-left mt-3">
        Showing page {{ files.page }} of {{ files.pages }}
    </p>


    <!-- Modal for deletetion -->
    <div class="modal fade" id="deleteTelemModal" tabindex="-1" role="dialog" aria-labelledby="deleteTelemModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete telemetry? Last warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your telemetry file? It can't be restored!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">No, I want to keep it</button>
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" id="telemDeleteId" name="file_id" value="" />
                        <button type="submit" name="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endif %}



{% endblock %}

