{% extends "_dashboard.html" %}
{% set active_page = "upload" %}
{% block title %} Upload {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field, render_multi_upload %}


{% if uploaded_files is defined %}
Uploaded files:
<ul>
    {% for file in uploaded_files %}
    <li>{{ file }} </li>
    {% endfor %}
</ul>
{% endif %}

<form class='user' method='post' enctype="multipart/form-data">
    <dl>
        {{ render_field(form.files, cls="file-upload", errcls="isinvalid")  }}
        {{ render_field(form.submit, cls="btn btn-primary btn-user btn-block") }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </dl>
</form>


{% endblock %}

