{% extends "_dashboard.html" %}
{% set active_page = "upload" %}
{% block title %} Upload {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field, render_multi_upload %}


{% if uploaded_files is defined %}
Uploaded files:
<ul>
    {% for file in uploaded_files %}
    <li>{{ file }} </li>
    {% endfor %}
</ul>
{% endif %}

<div class="mb-4 w-100 p-3">

    <h1>
        Upload some ACC telemetry.
    </h1>
    The telemetry will processed after the upload and can be downloaded by others.<br/>
    Only <b>*.ld</b> and <b>*.ldx</b> files are allowed, both are needed for the process to be working.<br/>
    The upload can take some time, the files are usually very big.<br/>
    <br/>
    Thank you for helping others!
</div>
<div class="alert alert-primary mb-4" role="alert">
    The telemetry files can be usually found in <b>Documents\Assetto Corsa Competizione\MoTeC</b><br/>
    max. 200MB file upload at once supported.
</div>

<form class='user' style="width: fit-content;" id="telem_upload_form" method='post' enctype="multipart/form-data">
    <dl>
        {{ render_field(form.files, cls="file-upload", accept=".ld, .ldx",  errcls="isinvalid")  }}

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ render_field(form.submit, cls="btn btn-primary btn-user btn-block", loader=True) }}

        <div id="upload_progress" class="form-group">
            <div>
                <img src="img/loader.gif" />Upload in progress...
            </div>
        </div>
    </dl>
</form>


{% endblock %}

