{% extends "_dashboard.html" %}
{% set active_page = "home" %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="mb-4 w-100 p-3">

    <h1>
        Welcome to TelemHub!
    </h1>
    Find ACC telemetry files here. Improve your racing
    <p>{% if not current_user.is_authenticated %}
        To upload your own files, please <a href="{{ url_for('userspace.login')}}">login</a> or <a href="{{ url_for('userspace.register')}}">register</a>!
        {% else %}
        To upload your own files, just <a href="{{ url_for('member.upload')}}">upload them</a>!
        {% endif %}
    </p>
</div>


{% if news %}
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Latest news: {{ news.title }}</h6>
            </div>
            <div class="card-body">
                <p>{{ news.message }}</p>
                <small>{{ news.get_date() }}</small>
            </div>
        </div>

    </div>

</div>

{% endif %}


<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Uploaded telemetry files
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_files }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Number of views
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_views }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-4 mb-4">

        <!-- top cars -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top cars</h6>
            </div>
            <div class="card-body">

                <table class="table table-sm">

                    <tbody>

                    {% for car in top_cars %}
                    <tr>
                        <th scope="row">{{ loop.index }}.</th>
                        <td><a href="{{ url_for('main.telemetry', car=car.id) }}">{{ car.get_pretty_name() }}</a></td>
                        <td>{{ car.get_files_number() }} files</td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <a class="nav-link" href="{{ url_for('main.telemetry')}}">
                    <span><i class="bi bi-graph-up"></i> Show all cars</span>
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <!-- top tracks -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top tracks</h6>
            </div>
            <div class="card-body">

                <table class="table table-sm">

                    <tbody>

                    {% for track in top_tracks %}
                    <tr>
                        <th scope="row">{{ loop.index }}.</th>
                        <td><a href="{{ url_for('main.telemetry', track=track.id) }}">{{ track.get_pretty_name() }}</a></td>
                        <td>{{ track.get_files_number() }} files</td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <a class="nav-link" href="{{ url_for('main.telemetry')}}">
                    <span><i class="bi bi-graph-up"></i> Show all tracks</span></a>
                </a>
            </div>
        </div>


    </div>
</div>

{% endblock %}

