{% extends "_dashboard.html" %}
{% set active_page = "telemetry" %}
{% block title %} Telemetry {% endblock %}

{% block content %}


<div class="mb-4 w-100 p-3">

    {% include 'templates/telem/upload_button.html' %}

    {% if files %}

    {% set page_dest = 'main.telemetry' %}
    {% set page_kwargs = {} %}

    {% include 'templates/telem/filter.html' %}

    {% include 'templates/telem/pagination.html' %}


    <div class="table-responsive">


    <table class="table smalltb table-hover ">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Track</th>
            <th scope="col">Car</th>
            <th scope="col">Fastest Lap</th>
            <th scope="col">Views</th>
            <th scope="col">Uploader</th>
            <th scope="col">Uploaded on</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files.items %}
        <tr>


            <td>
                <a class="btn btn-danger btn-sm m-1" href="{{ url_for('main.download_telem', id=file.id) }}" role="button">DOWNLOAD</a>
                <a class="btn btn-primary btn-sm m-1" href="{{ url_for('main.telemetry_show', id=file.id) }}" role="button">OPEN</a>
                <button class="compareTelem btn btn-info btn-sm mx-1" type="button" data-fid="{{ file.id }}">
                    COMPARE
                </button>

            </td>
            <td><a href="{{ url_for('main.telemetry', page=page_num, car=selected_car, track=file.track.id, selected_order=selected_order.id) }}">{{ file.track.get_pretty_name() }}</a></td>
            <td><a href="{{ url_for('main.telemetry', page=page_num, car=file.car.id, track=selected_track, selected_order=selected_order.id) }}">{{ file.car.get_pretty_name() }}</a></td>
            <td>{{ file.get_fastest_lap() }}</td>
            <td>{{ file.views }}</td>
            <td><a href="{{ url_for('member.profile', username=file.owner.username) }}">{{ file.owner.username }}</a></td>
            <td>{{ file.get_upload_date() }}</td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% include 'templates/telem/pagination.html' %}

    <p class="text-left mt-3">
        Showing page {{ files.page }} of {{ files.pages }}
    </p>

    {% endif %}


    {% include 'templates/telem/upload_button.html' %}

</div>





{% endblock %}

