{% extends "_dashboard.html" %}
{% set active_page = "telemetry" %}
{% block title %} Telemetry {% endblock %}

{% block content %}

{% if files %}
<div class="mb-4 w-100 p-3">


    {% include 'templates/telem/filter.html' %}

    {% include 'templates/telem/pagination.html' %}


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Track</th>
            <th scope="col">Car</th>
            <th scope="col">Fastest Lap</th>
            <th scope="col">Views</th>
            <th scope="col">Uploader</th>
            <th scope="col">Uploaded on</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for file in files.items %}
        <tr>

            <td>{{ file.track.internal_name }}</td>
            <td>{{ file.car.internal_name }}</td>
            <td>{{ file.get_fastest_lap() }}</td>
            <td>{{ file.views }}</td>
            <td>{{ file.owner.username }}</td>
            <td>{{ file.get_upload_date() }}</td>
            <td><a class="btn btn-primary btn-sm" href="{{ url_for('main.telemetry_show', id=file.id) }}" role="button">OPEN</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% include 'templates/telem/pagination.html' %}

    <p class="text-left mt-3">
        Showing page {{ files.page }} of {{ files.pages }}
    </p>


</div>
{% endif %}



{% endblock %}

