
{% macro render_checkbox(field, label, cls, errcls) %}

{% if field.errors %}

<div class="form-group">
    <div class="custom-control custom-checkbox small">
        {{ field(class = cls,**kwargs) | safe}}
        <label for="{{ field.id}}">{{ label }}</label>
    </div>
    <div class="text-danger">
        {% for error in field.errors %}
        <span> {{error}}</span>
        {% endfor %}
    </div>
</div>

{% else %}

<div class="form-group">
    <div class="custom-control custom-checkbox small">
        {{ field(class = cls,**kwargs) | safe}}
        <label for="{{ field.id}}">{{ label }}</label>
    </div>
</div>


{% endif %}
{% endmacro %}


{% macro render_field(field,cls,errcls) %}

{% if field.errors %}
<div class="form-group">

    {{ field(class = cls + " " + errcls,**kwargs) | safe}}
    <div class="text-danger">
        {% for error in field.errors %}
        <span> {{error}}</span>
        {% endfor %}
    </div>
</div>

{% else %}

<div class="form-group">
    <!--<label for="{{ field.id}}">{{ field.label.text }}</label>-->
    {{ field(class = cls,**kwargs) | safe}}
</div>

{% endif %}
{% endmacro %}