{% extends "_login.html" %}
{% block title %} Login {% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="mb-4">
    {% for message in messages %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<form class="user" method="post">

    {{ render_field(form.email, cls="form-control form-control-user", errcls="isinvalid", placeholder="Your Email") }}
    {{ render_field(form.password, cls="form-control form-control-user", errcls="isinvalid", placeholder="Your Password") }}
    {{ render_field(form.submit, cls="btn btn-primary btn-user btn-block", errcls="isinvalid") }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

</form>


{% endblock %}

