{% extends "layout.html" %}
{% block title %} Register {% endblock %}

{% block content %}

Register for free, so you can upload telemetry! No email activation necessary.

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.accept_tos) }}
        {{ render_field(form.submit) }}
    </dl>

</form>

{% endblock %}

