{% extends "_dashboard.html" %}
{% set active_page = "telemetry" %}
{% block title %} Upload {% endblock %}

{% block content %}

{% if files %}
<div class="mb-4 w-100 p-3">


    <form method="get" class="form-inline">

        <select id="carSelect" name="car" class="form-control mb-2 mr-sm-2">
            <option value="0" {% if selected_car == 0 %}selected{% endif %}>All cars</option>
            {% for car in cars %}
            <option value="{{ car.id }}" {% if selected_car == car.id %}selected{% endif %}>{{ car.get_pretty_name() }}</option>
            {% endfor %}
        </select>

        <select id="trackSelect" name="track" class="form-control mb-2 mr-sm-2">
            <option value="0" {% if selected_track == 0 %}selected{% endif %}>All tracks</option>
            {% for track in tracks %}
            <option value="{{ track.id }}" {% if selected_track == track.id %}selected{% endif %}>{{ track.get_pretty_name() }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary mb-2">Refresh</button>
    </form>



    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if files.page == 1 %}disabled{% endif %}">
                <a href="{{ url_for('main.telemetry', page=files.prev_num, car=selected_car, track=selected_track) }}"
                   class="page-link" tabindex="-1"
                >Previous</a>
            </li>
            {% for page_num in files.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}

            {% if files.page == page_num %}
            <li class="page-item active">
                <a class="page-link" href="{{ url_for('main.telemetry', page=page_num, car=selected_car, track=selected_track) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('main.telemetry', page=page_num, car=selected_car, track=selected_track) }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            <li class="page-item {% if files.page == files.pages %}disabled{% endif %}">
                <a class="page-link " href="{{ url_for('main.telemetry', page=files.next_num, car=selected_car, track=selected_track) }}">Next</a>
            </li>
        </ul>
    </nav>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Track</th>
            <th scope="col">Car</th>
            <th scope="col">Best time</th>
            <th scope="col">Uploader</th>
            <th scope="col">Uploaded on</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for file in files.items %}
        <tr>

            <td>{{ file.track.internal_name }}</td>
            <td>{{ file.car.internal_name }}</td>
            <td>{{ file.get_fastest_lap() }}</td>
            <td>{{ file.owner.username }}</td>
            <td>{{ file.get_upload_date() }}</td>
            <td><a class="btn btn-primary btn-sm" href="{{ url_for('main.telemetry_show', id=file.id) }}" role="button">OPEN</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if files.page == 1 %}disabled{% endif %}">
                <a href="{{ url_for('main.telemetry', page=files.prev_num, car=selected_car, track=selected_track) }}"
                   class="page-link" tabindex="-1"
                >Previous</a>
            </li>
            {% for page_num in files.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}

                {% if files.page == page_num %}
                <li class="page-item active">
                    <a class="page-link" href="{{ url_for('main.telemetry', page=page_num, car=selected_car, track=selected_track) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.telemetry', page=page_num, car=selected_car, track=selected_track) }}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            <li class="page-item {% if files.page == files.pages %}disabled{% endif %}">
                <a class="page-link " href="{{ url_for('main.telemetry', page=files.next_num, car=selected_car, track=selected_track) }}">Next</a>
            </li>
        </ul>
    </nav>

    <p class="text-left mt-3">
        Showing page {{ files.page }} of {{ files.pages }}
    </p>


</div>
{% endif %}



{% endblock %}

